
/* Smart Phone Layout */
@media screen and (max-width:770px) {
  body {
    flex-direction: column;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  }

  nav {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 21px 3px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, inset 0px 0px 21px 3px rgba(0,0,0,0);
  }

  .new-tweet {
    margin-top: 0px;
  }

  .nav-right {
    visibility: hidden;
  }

  header{
    display: flex;
    width: 100%;
    margin-top: 155px;
    margin-left: 30px;
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 2em;
    margin-top: 120px;
    margin-left: -0px;
  }
}

/* Tablet / Desktop Layout */
@media screen and (min-width: 770px){
  body {
    flex-direction: row;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  }

  header{
    display: flex;
    width: 66%;
    margin-top: 155px;
    margin-left: 30px;
    height: 400px;
    padding-left: 25px;
    padding-right: 25px;
    padding: 2em;
  }

  main {
    width:33%
  }

  .new-tweet {
    margin-top: 140px;
  }
 
}