.new-tweet {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  color: #545149;
  order: 1;
}

.new-tweet h2{
  visibility: hidden;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
}

.new-tweet form label{
  font-weight: bold;
  visibility: hidden;
}

.new-tweet form .tweet-content {
  display: flex;
  background: none;
  border: none;
  border-bottom: thick solid #545149;
  ;
  font-weight: bold;
  line-height: 1em;
  outline: none;
  margin: 0.8em 0;
}

.new-tweet form .tweet-content::placeholder {
  font-weight: bold;
  color: #545149;
}

.new-tweet form .footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.new-tweet form .footer .button {
  display: flex;
  color: white;
  border: none;
  background-color: #4056A1;
}
.new-tweet form .footer .counter{
  display: flex;

}

