.new-tweet {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  margin-top : 1em;
}


.new-tweet form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-tweet form .new-tweet-header {
  display: flex;
  flex-direction: column;
}

.new-tweet form textarea {
  display: flex;
  background-color: #f4f1ec;
  color: #555149;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Source Sans 3', sans-serif;
  height: 3em;
  border: none;
  resize: none;
  border-bottom: solid thick
}

.new-tweet form textarea:focus {
  outline: none;
}

.new-tweet form .new-tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
}

.new-tweet form label {
  display: flex;
  background-color: aquamarine;
}

.new-tweet form button {
  display: flex;
  font-family: 'Bungee', cursive; 
  color: white;
  background-color: #4056A1;
  border: none;
  padding: 0.2em 0.3em;
}

.new-tweet form output {
  display: flex;
  width: 5em;
    font-family: 'Bungee', cursive; 
  justify-content: end;
}